<section class="product_contents">
	<div class="container">

		<h4>So what's in it?</h4>
		<br>
		<p class="text-center bigger">120 + items, including:</p>
		<br>
		<div class="row align_center">
			<div class="col-sm-4 col-xs-12">				
				<p class="category_name">For the cast <%= render 'layouts/arrows' %></p>
				<ul class="group1">
					<% FOR_CAST.each do |item| %>
						<li><%= item %></li>
					<% end %>
				</ul>
			</div>
			<div class="col-sm-4 col-xs-12">
				<p class="category_name">For the crew <%= render 'layouts/arrows' %></p>
				<ul class="group2">
					<% FOR_CREW.each do |item| %>
						<li><%= item %></li>
					<% end %>
				</ul>
			</div>
			<div class="col-sm-4 col-xs-12">
				<p class="category_name">For you <%= render 'layouts/arrows' %></p>
				<ul class="group3">
					<% FOR_SM.each do |item| %>
						<li><%= item %></li>
					<% end %>
				</ul>
			</div>
		</div><!-- end .row -->
	</div><!-- end .container -->
</section><!-- end .product_description -->
