<%= render 'layouts/newsletter_sign_up' %>

<ul class="social_media align-right">
	<li><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-1"><a href="#" alt="Newsletter" title="Newsletter">Newsletter</a></button></li>
	<li><a href="#" alt="Pinterest" title="Pinterest"><%= image_tag 'Pinterest.png' %></a></li>
	<li><a href="#" alt="Instagram" title="Instagram"><%= image_tag 'Instagram.png' %></a></li>
	<li><a href="#" alt="Twitter" title="Twitter"><%= image_tag 'Twitter.png' %></a></li>
	<li><a href="#" alt="Facebook" title="Facebook"><%= image_tag 'Facebook.png' %></a></li>
</ul>