<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stage Management Kits</title>
  <!-- (TODO: insert description: Prepackaged stage management kits, including everything from pencils to "lend" actors to spike tape and a multitool.  We package it. You stage manage.) -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Euphoria+Script' rel='stylesheet' type='text/css'>
 

</head>
<body class="<%= controller_name %>_<%= action_name%>">

  <%= render 'layouts/newsletter_sign_up' %>
	
	<%= render 'layouts/navbar' %>	

	<%= render 'layouts/headers' %>

	 <%= yield %>
	
	<%= render 'layouts/footer' %>

</body>
</html>
