<!DOCTYPE html>
<html>
<head>
  <title>Stage Management Kits</title>
  <!-- (TODO: insert description: Prepackaged stage management kits, including everything from pencils to "lend" actors to spike tape and a multitool.  We package it. You stage manage.) -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">

		<section class="navbar">
			<%= render 'layouts/navbar' %>
		</section><!-- end .navbar -->


		<h1>Stage Management Kits</h1>

		<h2 class="tagline">We get your gear.  You stage manage.</h2>
			
		<%= yield %>

	</div><!-- end .container -->

	<hr>
	<footer class="align_center">
		<p>Stage Management Kits are created by <%= link_to 'Virgo Ventures', href: "#", target: "_none" %>. whose owner is a Stage Manager turned Entrepreneur.</p>
	</footer>

</body>
</html>
