<!DOCTYPE html>
<html>
<head>
  <title>Stage Management Kits</title>
  <!-- (TODO: insert description: Prepackaged stage management kits, including everything from pencils to "lend" actors to spike tape and a multitool.  We package it. You stage manage.) -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'layouts/navbar' %>	

	<section class="main">
		<%= render 'layouts/headers' %>
				
			<%= yield %>

	</section><!-- end .main section -->

	<hr>
	
	<%= render 'layouts/footer' %>

</body>
</html>
